.search {
    width: 100%;
    position: relative;
    display: flex;
}
  
.searchInput {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
}
  
.searchButton {
    width: 40%;
    max-width: 150px;
    height: 46px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

#map{
    width:100%;
    height:45em;
    margin-top: 2%;
}

.ad{
    width: 320px;
    margin: 0 auto;
}
.youtube-link {
    font-size: 1.5rem;
    line-height: 1.71;
    text-align: center;
    color: #f73737;
    text-decoration: underline;
}

.youtube-link:hover {
    font-size: 1.5rem;
    line-height: 1.71;
    text-align: center;
    color: #f73737;
    text-decoration: underline;
}

.youtube-icon {
    width: 30px;
    height: 27.262px;
}